# Include documentation
include README.md
include LICENSE
include requirements.txt

# Include all package data
recursive-include fnerd_falconpy *.py
recursive-include fnerd_falconpy *.md

# Include resources
recursive-include fnerd_falconpy/resources *
include fnerd_falconpy/resources/deploy_kape.ps1

# Include KAPE files
recursive-include fnerd_falconpy/resources/kape *

# Exclude compiled files
global-exclude *.pyc
global-exclude *.pyo
global-exclude __pycache__
global-exclude .DS_Store